.mainContent{
    font-size: 22px !important;
    line-height: 32px;
    font-weight: 400;
}

.paragraph-hover-nav{
    transform: scale(0.8);
    margin-top: 0.8rem;
    left: -4px !important;
}

.pageCompleted{
    color: #373737 !important;
}

.highlight{
    color: #373737;
}

.loading{
    display: block !important;
    animation: rotate 1s infinite ease-in-out;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}